
<div class="row mt-4">
    <div class="col-3" *ngFor="let item of dataSvc.todoData">
        <div class="card" style="width: 12rem;" >
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Date time</h6>
              <p class="card-text">{{item.tags}} </p>
              <button class="card-link" (click)="edit(item)" >edit</button>
              <button class="card-link" (click)="RemoveItem(item.id)">delete</button>
            </div>
          </div>
    </div>
   
</div>